h1 {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}

p {
	font-family: "Droid Serif", serif;
}

a {
	text-transform: uppercase;
}

body {
	text-align: center;
	text-decoration: none;
}

.instructions_game {
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

.instructions {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}